<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
			<style type="text/css">
	.main-center{
			margin-top: 30px;
			margin: 0 auto;
			max-width: 330px;
			padding: 40px 40px;

}
	</style>
		<link rel="stylesheet" href="{% static 'inrtracker/css/bootstrap.min.css' %}" type = "text/css"/>
		<title>INR Monitor</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<img src="{% static 'inrtracker/images/logo.png' %}" alt="Tekst alternatywny" width="200"/></a>
	               		<hr />
	               	</div>
	            </div>

				<div class="main-center" >
				<div class="alert alert-success" style="visibility:" {{ show }}>
					<strong>Hura!</strong><br>
					<h3>{{ message }} <h3>
					<a href = "/inrtracker/login/"><button class="btn btn-success btn-lg">Zaloguj</button></a>
				</div>
					<form class="form-horizontal" method="post" > {% csrf_token %}

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Imię</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Wprowadź sowje imię"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="surname" class="cols-sm-2 control-label">Nazwisko</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="surname" id="surname"  placeholder="Wprowadź swoje nazwisko"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="login" class="cols-sm-2 control-label">Login</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="login" id="login"  placeholder="Wprowadź swoj login"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Hasło</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Wprowadź swoje hasło"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Potwierdź hasło</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Potwierdź hasło"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="wantedinr" class="cols-sm-2 control-label">Porządane INR</label>
							<div class="cols-sm-10">
								<div class="input-group">

									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<select name = "wantedinr" id="wantedinr" class="form-control" >
										<option value = 2.5> 2,5 (zakres 2 - 3)
										<option value = 3> 3 (zakres 2,5 - 3,5)
									</select>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Zarejestruj</button>
					<br>
					</form>
					</div>
							<a href = "/inrtracker/login/"><button class="btn btn-primary btn-lg btn-block login-button">Zaloguj</button></a>
							<hr />


				</div>
			</div>
		</div>


	</body>
</html>
{% block content %}

{% endblock %}