<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
			<style type="text/css">
	.main-center{
			margin-top: 30px;
			margin: 0 auto;
			max-width: 330px;
			padding: 40px 40px;

}
	</style>

		<title>Błąd</title>
	</head>
	<body>
		<h1>Cos poszło nie tak spróbuj jeszcze raz</h1>
	</body>
</html>
{% block content %}
	
{% endblock %}